mat-toolbar {
  .user-info {
    display: flex;
    align-items: center;
  }

  // .name {
  //   margin-right: 1rem;
  // }

  button {
    margin-left: 1rem;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
